<div class="row">
	<div class="col-md-12 global-message">
	{{#unless user.username}}
		<span class="text">please <a href="/register">register</a> or <a href="/login">login</a>, just a second.</span>
	{{else}}
		paste your link, press enter. <br />
        <span class="label label-info">Update</span> New <strong>TIL</strong> at <a href="/til">/til</a>
	{{/unless}}
	</div>
    
    {{> tip}}

    <div class="col-md-12">
        <form action="/add" method="POST" class="form-horizontal" role="form" id="quickForm">
            <div class="form-group quick-url-input">
             	<input type="text" name="text" id="quick-url" class="form-control" value="" required="required" placeholder="URL or everything" autofocus>
            </div>
        </form>
    </div>
</div>

<div class="row">
    {{> feed}}

    <div class="col-xs-12 m-t-1">
    		<div class="text-xs-center">
				<a class="load-more" href="javascript:;"></a>
			</div>
    </div>
</div>

{{> template_feeditem}}
{{> template_edititem}}
{{> template_custom_result}}
