<div class="row">
	<div class="col-md-12 global-message">
        {{#if user.is_guest}}
            please <a href="/login">login</a> or <a href="/register">register</a> to manage, edit, delete your note.
        {{ else }}
            <a href="/note/all"><i class="fa fa-book"></i> all my note</a>
        {{/if}}
    </div>
    <div class="col-md-12 global-message">
        <strong>quick/til: </strong> TILs are short Markdown documents (a few sentences + example code) explaining concepts, bits of syntax, commands, or tips we've recently learned.. <br />
        All TIL will be public. 
    </div>
    
    <div class="col-md-12">
        {{> til_form }}
    </div>
</div>
