<div class="row">
	<div class="col-md-12 global-message">
        <strong>quick/til: </strong> TILs are short Markdown documents (a few sentences + example code) explaining concepts, bits of syntax, commands, or tips we've recently learned.. <br />
        All TIL will be public. 

        <a href="/til/new" class="btn btn-info" style="float:right">+ TIL</a>
        <span style="clear:both;"></span>
    </div>
</div>

<div class="row">
	<div class="list-group list-all-note">
		{{#each posts}}
			<a href="/til/{{ alias }}" class="list-group-item">
				<h4 class="list-group-item-heading">
					{{ note_icon language }}
					{{#if title}}
						{{ title }}
					{{ else }}
						{{ _id }}
					{{/if}}

					{{#if is_public}}
					{{ else }}
						<span class="label label-warning">private</span>
					{{/if}}
				</h4>
				<p class="list-group-item-text">
					<span>{{ trimString content }}</span>
					<span class="created">{{ created }}</span>
				</p>
			</a>
		{{/each}}
	</div>
</div>


