<ul class="nav navbar-nav nav-pills pull-xs-right">
    <li class="nav-item ">
        <a class="nav-link" href="/"><i class="fa fa-home"></i> <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/trend"><i class="fa fa-line-chart" aria-hidden="true"></i> trend</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/note"><i class="fa fa-code" aria-hidden="true"></i> snippet</a>
    </li>
    {{#if user.username}}
    <!-- <li class="nav-item ">
        <a class="nav-link" href="/u/{{user.username}}">my</a>
    </li> -->
    {{/if}}
    <li class="nav-item">
        {{#if user.username}}
            <a class="nav-link" href="/me">
                @{{user.username}}
            </a>
        {{else}}
            <a class="nav-link" href="/login?next=/">
                <i class="fa fa-sign-in" aria-hidden="true"></i> login
            </a>
        {{/if}}
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/more" title="more">
            <i class="fa fa-ellipsis-h"></i>
        </a>
    </li>

    <li class="nav-item">
    </li>
</ul>
