<ul class="nav navbar-nav nav-pills pull-xs-right">
    <li class="nav-item ">
        <a class="nav-link" href="/">home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/explore">explore</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/me">{{#if user}}@{{user.username}}{{else}}me{{/if}}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/more" title="more">...</a>
    </li>

    <li class="nav-item">
    </li>
</ul>