<!DOCTYPE html>
<html>

<head>
    <title>{{#if config.title}}{{config.title}}{{else}}Quick{{/if}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/app.css" />
</head>

<body>
    <header class="container header">
        <nav class="navbar navbar-light">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#quicknavbar">
            &#9776;
            </button>
            <div class="collapse navbar-toggleable-xs" id="quicknavbar">
                <a class="navbar-brand" href="#" id="quick-logo">Quick</a>
                {{> menu}}
            </div>
        </nav>
    </header>

    <div class="container">
        {{{body}}}
    </div>

    <script type="text/javascript" src="/public/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>
