<!DOCTYPE html>

{{> header_note}}

<html>
<head>
    <title>
        {{#if title}}
            {{ title }}
        {{else}}
            {{#if config.title}}
                {{ config.title }}
            {{else}}
                Quick
            {{/if}}
        {{/if}}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="/public/img/favicon.ico" type="image/x-icon" />

    {{> header_meta}}

    {{css_cdn is_production
        '/public/lib/bootstrap/dist/css/bootstrap.min.css'
        '//cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css'}}
    {{css_cdn is_production
        '/public/lib/font-awesome/css/font-awesome.min.css'
        '//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'}}
    <link rel="stylesheet" type="text/css" href="/public/css/app.css" />
    {{custom_css_by_page custom_css}}

    {{> header_script}}
</head>

<body>
    {{#unless request.query.no_header}}
    <div class="container-fluid color-header mb-3" {{random_header}}>
        <header class="container header">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/" id="quick-logo">{{config.appName}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#quicknavbar" aria-controls="quicknavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="quicknavbar">
                    {{> menu}}
                </div>
            </nav>
        </header>
    </div>
    {{/unless}}

    <div class="container app">{{{body}}}</div>

    <script type="text/javascript">
        window.app = window.app || {{{json config.js_config}}};
        window.app.user = {{#if user._id}} {{{json user}}} {{else}} {_id: '-', access_token: '-', username: 'guest'} {{/if}};
        window.app.basepath = '{{request.origin}}';
    </script>

    {{js_cdn is_production '/public/lib/bootstrap/dist/js/bootstrap.bundle.min.js' '//cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js'}}

    {{custom_script_by_page custom_script}}
    <script type="text/javascript" src="/public/js/main.js"></script>
    <script type="text/javascript" src="/public/js/x-message.js"></script>

    {{> footer_script}}
</body>
</html>
