/* Space out content a bit */

body {
    padding-bottom: 1.5rem;
}


/* Custom application button */

.btn {}

.btn-dd {
    border-width: 2px;
    color: #fff;
    background-color: #FFCC00;
    border-color: #FFCC00;
}

.btn-dd:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.btn-dd:focus,
.btn-dd.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.btn-dd:active,
.btn-dd.active,
.open > .btn-dd.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    background-image: none;
    border-color: #2aabd2;
}

.btn-dd:active:hover,
.btn-dd:active:focus,
.btn-dd:active.focus,
.btn-dd.active:hover,
.btn-dd.active:focus,
.btn-dd.active.focus,
.open > .btn-dd.dropdown-toggle:hover,
.open > .btn-dd.dropdown-toggle:focus,
.open > .btn-dd.dropdown-toggle.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1f7e9a;
}

.btn-dd.disabled:focus,
.btn-dd.disabled.focus,
.btn-dd:disabled:focus,
.btn-dd:disabled.focus {
    background-color: #FFCC00;
    border-color: #FFCC00;
}

.btn-dd.disabled:hover,
.btn-dd:disabled:hover {
    background-color: #FFCC00;
    border-color: #FFCC00;
}

.btn-dd-outline {
    color: #FFCC00;
    background-color: transparent;
    background-image: none;
    border-color: #FFCC00;
}

.btn-dd-outline:focus,
.btn-dd-outline.focus,
.btn-dd-outline:active,
.btn-dd-outline.active,
.open > .btn-dd-outline.dropdown-toggle {
    color: #fff;
    background-color: #FFCC00;
    border-color: #FFCC00;
}

.btn-dd-outline:hover {
    color: #fff;
    background-color: #FFCC00;
    border-color: #FFCC00;
}

.btn-dd-outline.disabled:focus,
.btn-dd-outline.disabled.focus,
.btn-dd-outline:disabled:focus,
.btn-dd-outline:disabled.focus {
    border-color: #b0e1ef;
}

.btn-dd-outline.disabled:hover,
.btn-dd-outline:disabled:hover {
    border-color: #b0e1ef;
}

.card-dd {
    background-color: #F5C400;
    border-color: #FFCC00;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}


/* Custom page header */

.header {}

.color-header {
    padding-top: 1.5rem;
    /*background-color: #FFCC00;*/
    background-color: #6AD1D8;
    /*border-bottom: .05rem solid #e5e5e5;*/
    /*margin-bottom: 1rem;*/
    background-image: url('../img/teach-pattern-2.png');
    background-repeat: repeat;
    background-size: 200px;
}

.color-header .navbar-brand {
    color: #FFF;
}

.color-header .nav-link {
    color: #FFF !important;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

.header #quick-logo:first-letter {}

.loading-state {
    position: fixed;
    top: 0;
    left: 47%;
    /* right: 0; */
    margin: 0;
    padding: 1px 13px;
    background: #0275D8;
    color: #FFF;
    border-radius: 0 0 5px 5px;
    z-index: 99999;
}


/* Custom page footer */

.footer {
    padding-top: 10px;
    margin-top: 25px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


/* Customize container */

@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}

.container-narrow > hr {
    margin: 2rem 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}

.jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
}


/* Supporting marketing content */

.marketing {
    margin: 3rem 0;
}

.marketing p + h4 {
    margin-top: 1.5rem;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

@media screen and (max-width: 48em) {
    body {
        padding-top: 0;
    }
    .header {
        margin-bottom: 1.5rem;
        padding: 0;
    }
    .navbar-nav .nav-item+.nav-item {
        margin-left: 0;
    }
}

.menu-btn-mobile {
    color: #fff !important;
    text-decoration: none !important;
}

.quick-collection {
    margin-top: 30px;
}

.quick-collection .url-time {
    font-size: 0.9em;
    float: right;
}

.input-group-addon.address-box {
    background: #FFF;
}

.text-black {
    color: #DDD;
}


/* Table page log */

.table-log {
    font-size: 13px;
}


/* Global message */

.global-message {
    margin-bottom: 1em;
}


/* Page */

.page {}

.page.home {}

.page.about {
    margin-top: 20;
    color: #FFF;
}
.page.about a {
    color: #FFF;
}

.page.about .logo {
    font-size: 80px
}

.feed {
    font-family: -apple-system, '.SFNSText-Regular', 'Helvetica Neue', Roboto, 'Segoe UI', sans-serif;
}

.feed .url-item {
    display: block;
    padding: 16px 0;
    border-bottom: 1px solid #ddd
}

.feed.inpage .url-item {
    border-bottom: 0;
}

.feed .url-item .link-text {
    margin-bottom: 8px;
}

.feed .url-item .link-text a {
    font-size: 18px;
    color: #333;
}
.feed .url-item .link-text .is_markdown .icon-md {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
    color: #676767;

}
.feed .url-item .link-text a:hover {
    /*color: #FFCC00;*/
    /*text-decoration: none;*/
}

.feed .url-item .link-meta {
    font-size: 0.85em;
}

.feed .url-item .link-meta > span {
    margin-right: 0.5rem;
}

.feed .url-item .link-meta,
.feed .url-item .link-meta a {
    color: #6B6A6A;
}

.feed .url-item .alias a {
    font-size: 0.75em;
    color: #FFF;
    font-weight: 300;
}

.feed .url-item .external-link a i {
    font-size: 0.7rem;
    color: #565656;
}

.feed .url-item .link-meta span {
    display: inline-block;
}

.feed .url-item .link-meta .click {}

.feed .url-item .link-meta .edit,
.feed .url-item .link-meta .created {
    
}

.feed .url-item .link-host-url {
    margin: 0;
    padding: 0;
    line-height: 1rem;
    margin-bottom: 0.25rem;
}
.feed .url-item .link-host-url span {
    color: #888;
    font-size: 0.9rem;
}

.feed .url-item .link-meta .created {
    /*font-style: italic;*/
}


/* Markdown preview ======================= */
.markdown_preview pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}

.markdown_preview h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

.review-embed {
    text-align: center;
    padding: 0;
    margin: auto;
}

.url-favicon img {
    margin-bottom: 6px;
}

/* Note form ========================= */
#quickNoteForm {
}

#quickNoteForm .editor #quick-note-editor {
    height: 250px;
}


/* URL Tags ========================== */
.tags {
    color: #fff;
}
.tags .list-tags a { 
    background: #31b0d5!important;
    font-weight: 300;
    /* border: 0.5px solid #7DE2FF; */
    padding: 2px 6px;
    border-radius: 3px;
    text-decoration: none;
    color: #FFF !important;
}

.tags .list-tags a.update-tags {
    background: #fff !important;
    color: #31b0d5!important;
    border: 1px solid #31b0d5!important;
}

.tags .list-tags a.update-tags:hover {
    background-color: #F0FCFF;
}
