.note-header {
	
}
.note-header h5 {
	/*margin-bottom: 0;*/
}

.note-header .note-tools {
	font-size: 0.8rem;
	margin-top: 0;
}

.note-header .note-tools > * {
	margin-right: 1em;

}

.note-content {
	margin-top: 20px;
	padding: 0;
	border: 1px solid #DDD;
}

/*.quick-note-review {
	padding: 15px;
}*/

.ace_static_highlight {
	font-size: 16px !important;
	font-family: '';
}

.ace-tm .ace_gutter {
    background: #FFFFFF !important;
    color: #333;
    border-right: 1px solid #DEDEDE !important;
    padding-right: 5px !important;
}

/* Markdown review  */
.note-markdown-preview {
	border: 0;
	margin-top: 25px;
}

.list-all-note {
	font-size: 13px;
}

.list-all-note h4.list-group-item-heading {
    font-size: 19px;
    color: #ffcc00;
}

.ace-github {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
	font-size: 12px !important;
	line-height: 18px !important;
}

/*  ==============*/