.note-header {
	
}
.note-header h5 {
	/*margin-bottom: 0;*/
}

.note-header .note-tools {
	font-size: 0.8rem;
	margin-top: 0;
}

.note-header .note-tools > * {
	margin-right: 1em;

}

.note-content {
	margin-top: 20px;
	padding: 0;
	border: 1px solid #DDD;
}

/*.quick-note-review {
	padding: 15px;
}*/

.ace_static_highlight {
	font-size: 16px !important;
	font-family: '';
}

.ace-tm .ace_gutter {
    background: #FFFFFF;
    color: #333;
    border-right: 1px solid #DEDEDE;
    padding-right: 5px;
}