<div>
    <div class="list-group">
        <div class="list-group-item">
            Hi, <strong>{{me.username}}</strong>!
        </div>
        <div class="list-group-item">
            Email: <a href="#">{{me.email}}</a><br /> 
            Access token: <strong id="access_token_value" title="{{me.access_token}}" data-value="{{me.access_token}}">{{me.access_token}}</strong> (<a href="javascript:void(0)" id="reset_accesstoken">reset</a>)<br /> 
            Password: <strong>*****</strong> (<a href="/me/password">change</a>)<br />
            <br />
            <a href="/settings">settings</a> |
            <a href="/logout">logout</a><br />
            
            
        </div>
    </div>
    <br />
    <br />
    <a href="/me/log">log</a> | <a href="/me/info">dump</a><br />
</div>
