{{{{raw}}}}
<script id="feeditem" type="text/x-handlebars-template">
{{#each urls}}
	<div class="url-item" id="item-{{_id}}" data-url-id="{{_id}}" data-url-alias="{{alias}}">
		<div class="link-text">
			{{#equal review_type 'markdown'}}
			<a href="#" class="is_markdown">
				{{icon_markdown 'icon-md'}}
			</a>
			{{else}}
				{{#if review_type}}
					{{#equal review_type 'none'}}{{else}}<i class="fa fa-{{review_type}}"></i>{{/equal}}
				{{/if}}
			{{/equal}}

			{{#is_review review_type}}
				<a href="/{{_id}}/view" tite="preview" onHover="window.status='{{url}}'; return true;">
			{{else}}
				<a href="{{tracker_link url _id}}" onHover="window.status='{{url}}'; return true;">
			{{/is_review}}
				{{#if is_loading}}<i class="fa fa-spinner fa-pulse"></i>{{/if}}
				{{#unless title}}{{url}}{{else}}{{{title}}}{{/unless}}
			</a>
			<span class="external-link">
				<a href="{{tracker_link url _id}}" target="_blank" class="text-muted">
					<i class="fa fa-external-link"></i>
				</a>
			</span>
		</div>
		<div class="link-host-url">
			<span>{{link_icon host}}  {{host}}</span>
			<span class="alias">
				{{shorten_url alias}}
			</span>
		</div>
		<div class="link-meta">
			{{#unless is_public}}
				<span class="text-danger">not published</span>
			{{/unless}}
			
			{{#is_review review_type}}
				<span class="view-markdown">
					<a class="text-info" href="/{{_id}}/view">preview</a>
				</span>
			{{/is_review}}

			<span class="click">{{click}} hits</span>

			{{#is_of user_id ../user}}
				<span class="edit">
					<a href="/{{_id}}/edit" class="editBtn" data-item="{{json this}}" data-toggle="tooltip" title="edit">
						<i class="fa fa-pencil-square"></i>
					</a>
				</span>
			{{/is_of}}

			<span class="share">
        		<a href="#" class="share-this" data-toggle="tooltip" title="share this page" data-url="{{../app.basepath}}/{{_id}}/view">
        			<i class="fa fa-share-alt-square"></i>
        		</a>
        	</span>
			<span class="bookmark" data-toggle="tooltip" title="coming soon"><i class="fa fa-bookmark-o"></i></span>
			
			<a href="javascript:;">
				<i class="fa fa-calendar-times-o"></i>
				<span class="created" title="{{created}}">{{fromNow created}}</span>
			</a>

		</div>
	</div>
{{/each}}

</script>
{{{{/raw}}}}
