{{{{raw}}}}
<script id="feeditem" type="text/x-handlebars-template">
{{#each urls}}
	<div class="url-item" data-url-id="{{_id}}" data-url-alias="{{alias}}">
		<div class="link-text">
			<a href="{{tracker_link url _id}}" onHover="window.status='{{url}}'; return true;">
				{{#unless title}}{{url}}{{else}}{{title}}{{/unless}}</a>

			<span class="alias">
				{{shorten_url alias}}
			</span>
		</div>
		<div class="link-meta">
			<span class="click">{{click}} click</span>

			{{#is_of user_id ../user}}
				<span class="edit">
					<a href="javascript:;" class="editBtn" data-item="{{json this}}">
						<i class="fa fa-edit"></i>
					</a>
				</span>
			{{/is_of}}
			<span class="created" title="{{created}}">{{fromNow created}}</span>

		</div>
	</div>
{{/each}}

</script>
{{{{/raw}}}}