<div class="row">
	<div class="col-md-12 global-message">
        {{#if user.is_guest}}
            please <a href="/login">login</a> or <a href="/register">register</a> to manage, edit, delete your note.
        {{ else }}
            <a href="/note/all"><i class="fa fa-book"></i> all my note</a>
        {{/if}}
    </div>
    <div class="col-md-12 global-message">
        <strong>quick/note: </strong> beta test. <br />
        Please special file <code>*.ext</code> for syntax higlight. (<code>fix-bug.js</code>, <code>note.md</code>, ...)
        
    </div>
    
    <div class="col-md-12">
        {{> note_form }}
    </div>
</div>
