<form action="/note/{{#if is_edit}}{{note._id}}{{else}}add{{/if}}" method="POST" class="form-horizontal" role="form" id="quickNoteForm">
    <input type="hidden" name="user_id" value="{{ user._id }}">
    <input type="hidden" name="access_token" value="{{ user.access_token }}">
    <input type="hidden" name="language" value="{{note.language}}">

    {{#if is_edit}}
        <input type="hidden" name="_id" value="{{note._id}}">
    {{/if}}

    <div class="form-group">
        <input type="text" class="form-control" name="note_title" id="note_title" placeholder="title or filename (default: title.md)" value="{{note.title}}" />
    </div>

    <div class="form-group editor">
    <input type="hidden" name="note_content" value="{{~note.content~}}">
<pre id="quick-note-editor" class="form-control">{{~note.content~}}</pre>
    </div>

    <div class="form-group text-right">
        <button name="is_private" value="true" class="btn btn-default btn-warning">Save as private</button>
    	<button name="is_private" value="false" class="btn btn-default btn-primary">Save as public</button>
    </div>
</form>

<script>
window.addEventListener("beforeunload", function (e) {
    var confirmationMessage = 'You haven\'t finished your content yet. '
                            + 'Do you want to leave without finishing?';

    (e || window.event).returnValue = confirmationMessage; //Gecko + IE
    return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
});
</script>
