<div class="row">
    <div class="col-md-12">
        <div class="note-view">
            <div class="note-header">
                <h5>{{ note.title }} {{#if note.is_public}}{{else}}<span class="label label-warning">private</span>{{/if}}</h5>
                <div class="note-tools">
                    {{#equal user._id note.user_id}}
                    <a href="/note/edit/{{ note._id }}" class="text-info" title="edit">
                        <i class="fa fa-pencil"></i> edit
                    </a>
                    <a href="/note/delete/{{ note.delete_token }}" class="text-warning" title="delete">
                        <i class="fa fa-trash"></i> delete
                    </a>
                    <a href="#"><i>{{note.view_counter}} views</i></a> {{/equal}}
                    <a href="/note/raw/{{ note._id }}" class="text-info" title="raw">
                        <i class="fa fa-code"></i> raw
                    </a>
                    <a href="javascript:;">
                        <i class="fa fa-calendar-times-o"></i>
                        <time title="{{ note.created }}">{{ note.created }}</time>
                    </a>

                    {{#if note.alias}}
                        <a href="/note/{{note.alias}}" title="">
                            <strong>
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                {{request.origin}}/note/{{note.alias}}
                            </strong>
                        </a>
                    {{/if}}
                </div>
            </div>
            {{#if is_markdown}}
            <div class="markdown_preview note-markdown-preview markdown-body">
                {{{ content_render }}}
            </div>
            {{else}}
            <div class="note-content">
                <pre class="quick-note-review" ace-mode="{{note.language}}" ace-theme="ace/theme/textmate" ace-gutter="no">{{ note.content }}</pre>
            </div>
            {{/if}}
        </div>
    </div>
</div>