<h3>/changelog</h3>

<ul>
	<li><strong>12/07/2016</strong> New <code>note card</code></li>
	<li><strong>30/06/2016</strong> New <a href="/trend">/trend</a> page</li>
	<li><strong>30/06/2016</strong> Like, share, Save, Commment in URL. URL Meta Image display</li>
	<li><strong>28/06/2016</strong> GIF preview</li>
	<li><strong>07/06/2016</strong> nothing change, đừng có quan tâm :((</li>
	<li><strong>19/03/2016</strong> search for URL collection.</li>
	<li><strong>20/03/2016</strong> tag for URL collection.</li>
	<li><strong>05/03/2016</strong> note and code snippet module.</li>
	<li><strong>23/02/2016</strong> <code>ssl</code> supported</li>
	<li><strong>22/02/2016</strong> release in <a href="http://ahihi.club" title="Ahihi">ahihi.club</a> and <a href="http://saveto.co">saveto.co</a></li>
	<li><strong>18/02/2016</strong> redirect in preview page (add <code>?redirect=1</code>)</li>
	<li><strong>17/02/2016</strong> improve SEO, ld+json, meta tag, og tag</li>
	<li><strong>16/02/2016</strong> markdown preview support, rss, share</li>
	<li><strong>13/02/2016</strong> bookmark bar, fetch & edit URL support</li>
	<li><strong>11/02/2016</strong> quick beta version</li>
</ul>
