<div class="row">
	<div class="col-md-12 global-message">
	{{#unless user.username}}
		please <a href="/login">login</a> to using, just a second.
	{{else}}
		paste your link, press enter.
	{{/unless}}
	</div>

    <div class="col-md-12">
        <form action="/add" method="POST" class="form-horizontal" role="form" id="quickForm">
            <div class="form-group quick-url-input">
             	<input type="text" name="url" id="quick-url" class="form-control" value="" required="required" placeholder="http://">
            </div>
        </form>
    </div>
</div>

<div class="row">
    {{> feed}}

    <div class="col-xs-12 m-t-1">
    		<div class="text-xs-center">
				<a class="load-more" href="javascript:;"></a>
			</div>
    </div>
</div>

{{> template_feeditem}}
{{> template_edititem}}
