<form action="/login" method="POST" class="form-horizontal" role="form">
    <div class="form-group">
    	go <a href="/register">register</a>
        or <a href="/forgot">reset password</a>
    </div>

    <div class="form-group">
    	{{#if error}}
            {{#if error_message}}
        		<div class="text-danger" role="alert">
    			  {{error_message}}.
    			</div>
            {{/if}}
    	{{/if}}
    </div>

    <fieldset class="form-group">
        <label for="username">username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="username">
    </fieldset>
    
    <fieldset class="form-group">
        <label for="password">password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="password">
    </fieldset>
    
    <div class="form-group">
        <div class="text-center">
            <button type="submit" class="btn btn-dd btn-dd-outline">Login</button>
        </div>
    </div>
</form>
