<div>

<form action="/me/password" method="POST" class="form-horizontal" role="form">
    <div class="form-group">
        {{#if error_message}}
    		<div class="alert alert-danger" role="alert">
			  {{error_message}}
			</div>
        {{/if}}

        {{#if success_message}}
    		<div class="alert alert-success" role="alert">
			  {{success_message}}
			</div>
        {{/if}}
    </div>

    <fieldset class="form-group">
        <label for="current_password">current password</label>
        <input type="password" class="form-control" id="current_password" name="current_password" placeholder="current username">
    </fieldset>
    
    <fieldset class="form-group">
        <label for="new_password">new password</label>
        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="new password">
    </fieldset>

    <fieldset class="form-group">
        <label for="re_password">again</label>
        <input type="password" class="form-control" id="re_password" name="re_password" placeholder="password">
    </fieldset>
    
    <div class="form-group">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary">Change</button>
        </div>
    </div>
</form>

</div>