<h3>terms of service</h3>

<p>by using the quick web site ("Service"), or any services of Quick, you are agreeing to be bound by the following terms and conditions ("Terms of Service").</p>

<p>
	<h3>account terms</h3>
	<ul>
		<li>you must be a human, accounts registered by "bots" or other automated methods are not permitted.</li>
		<li>you can <strong>not</strong> provide your name, a valid email address, and any other information requested.</li>
		<li>you are responsible for maintaining the security of your account and password. Quick cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
		<li>not share your <strong>access_token</strong> with another.</li>
	</ul>
</p>